<section class="about">
  <div class="container" data-aos="fade-up">
    <div class="row">
    <h1>SISTEMA DE TRANSMISIÓN</h1>
      <div class="col-lg-7 pt-4 pt-lg-0">
        <img src="../../../assets/producto/SG01001000.jpg" alt="">
      </div>
      <div class="col-lg-5 pt-4 pt-lg-0 content">
        <div class="row">
          <table class="table">
            <tbody>
              <tr>
                <th >SKU:</th>
                <td ><h2>SG01001000</h2></td>
              </tr>
              <tr>
                <th scope="row">OEM:</th>
                <td><h2>10892582</h2></td>
              </tr>
              <tr>
                <th scope="row">DESCRIPCIÓN:</th>
                <td ><h2>KIT DE EMBRAGUE 15.5" x 2", 7 SPRING 4 PAD</h2></td>
              </tr>
              <tr>
                <th scope="row">APLICACIÓN:</th>
                <td>FREIGHTLINER | KENWORTH | INTERNATIONAL | MACK | VOLVO VNL</td>
              </tr>
              <tr>
                <th scope="row">CROSS REFERENCE:</th>
                <td><h2>102-108925-82</h2></td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-primary btn-color">Atrás</button>
        </div>
      </div>
    </div>
  </div>
</section>
