<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 appDirectivaPersonalizada>GESTION DE ALUMNOS</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>
  <form [formGroup]="formularioAlumnos" (ngSubmit)="addAlumno();" class="row mb-5">
        <div class="col-lg-6 mb-3">
          <label>Nombre: </label>
          <input class="form-control" type="text" formControlName="name">
          <p *ngIf="formularioAlumnos.get('name')?.errors?.['required'] && formularioAlumnos.touched" role="alert">Este campo es obligatorio</p>
        </div>
        <div class="col-lg-6 mb-3">
          <label>Apellido: </label>
          <input class="form-control" type="text" formControlName="lastname">
          <p *ngIf="formularioAlumnos.get('lastname')?.errors?.['required'] && formularioAlumnos.touched">Este campo es obligatorio</p>
        </div>
        <div class="col-lg-3 mb-3">
          <label>Edad: </label>
          <input class="form-control" type="text" formControlName="age">
          <p *ngIf="formularioAlumnos.get('age')?.errors?.['required'] && formularioAlumnos.touched">Este campo es obligatorio</p>
        </div>
        <div class="col-lg-6 mb-3">
          <label>Correo: </label>
          <input class="form-control" type="text" formControlName="email">
          <p *ngIf="formularioAlumnos.get('email')?.errors?.['required'] && formularioAlumnos.touched">Este campo es obligatorio</p>
          <p *ngIf="formularioAlumnos.get('email')?.errors?.['email'] && formularioAlumnos.touched">Este campo debe tener un formato de correo</p>
        </div>
        <div class="col-lg-3 mb-3">
          <label>Celular: </label>
          <input class="form-control" type="text" formControlName="phone">
          <p *ngIf="formularioAlumnos.get('phone')?.errors?.['required'] && formularioAlumnos.touched">Este campo es obligatorio</p>
        </div>

    <button type="submit">Enviar</button>
  </form>
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Estudiante </th>
        <td mat-cell *matCellDef="let element"> {{ element | transformar }} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef style="display: none;"> Name </th>
        <td mat-cell *matCellDef="let element" style="display: none;"> {{element.lastname}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Edad </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Correo Electrónico </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Celular </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="editarAlumnos(element);">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="eliminarAlumnos(element);">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>


  </div>
</main>
