<div class="flex-shrink-0 p-3 bg-white" >
  <a class="d-flex align-items-center text-decoration-none header-sidebar">
    <p>CATEGORÍA</p>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-to align-items-center  collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
        SISTEMA DE TRANSMISIÓN
      </button>
    </li>
    <li class="mb-1">
      <button class="btn btn-to align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
        SISTEMA DE AIRE
      </button>
    </li>
    <li class="mb-1">
      <button class="btn btn-to align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
        SISTEMA DE FRENO
      </button>
    </li>
    <li class="mb-1">
      <button class="btn btn-to align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        SISTEMA DE DIRECCIÓN
      </button>
    </li>
    <li class="mb-1">
      <button class="btn btn-to align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        SISTEMA DE VENTILACIÓN
      </button>
    </li>
    <li class="mb-1">
      <button class="btn btn-to align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account2-collapse" aria-expanded="true">
        SISTEMA DE SUSPENSIÓN
      </button>
    </li>
    <li class="mb-1">
      <button class="btn btn-to align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account3-collapse" aria-expanded="false">
        SISTEMA ELÉCTRICO
      </button>
    </li>
    <li class="mb-1">
      <button class="btn btn-to align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account3-collapse" aria-expanded="false">
        SISTEMA DE MOTOR
      </button>
    </li>
  </ul>
</div>
