<h1>Directivas Personalizadas</h1>
<p>Este texto está <span appResaltado="#E8FF3C">resaltado</span></p>
<p [appResaltado]="'#EA3F3C'">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quam temporibus illo similique ea explicabo nisi rem aliquam id quae consequatur doloremque sapiente, tempore asperiores eum eos voluptatum placeat sint?
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, ducimus? Doloribus tenetur expedita similique! Quam rerum animi mollitia voluptate nesciunt tempora! Quidem est modi optio recusandae molestias esse maxime in.
</p>

<h2>Directiva Estructural</h2>
<div *appIterador="3">
  <h3>titulo de iteracion</h3>
  <p>Iterando a traves de directivas personalizadas</p>
</div>

<hr>
