<h1>Formulario de Alumno</h1>
<form [formGroup]="formulario" (ngSubmit)="submit();">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6">
        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input type="text" class="form-control" formControlName="nombre">
          <div *ngIf="!formulario.invalid" class="alert alert-success" role="alert">
            Correcto
          </div>
          <div *ngIf="formulario.get('nombre')?.errors?.['required'] && formulario.touched" class="alert alert-danger" role="alert">Este elemento es obligatorio</div>
        </div>
      </div>
      <div class="col-12 col-sm-8 col-md-6">
        <div class="mb-3">
          <label class="form-label">Apellido</label>
          <input type="text" class="form-control" formControlName="apellido">
          <div *ngIf="!formulario.invalid" class="alert alert-success" role="alert">
            Correcto
          </div>
          <div *ngIf="formulario.get('apellido')?.errors?.['required'] && formulario.touched" class="alert alert-danger" role="alert">
            Este elemento es obligatorio
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6">
        <div class="mb-3">
          <label class="form-label">Edad</label>
          <input type="text" class="form-control" formControlName="edad">
          <div *ngIf="!formulario.invalid" class="alert alert-success" role="alert">
            Correcto
          </div>
          <div *ngIf="formulario.get('edad')?.errors?.['required'] && formulario.touched" class="alert alert-danger" role="alert">Este elemento es obligatorio</div>
          <div *ngIf="formulario.get('edad')?.errors?.['pattern'] && formulario.touched" class="alert alert-danger" role="alert">Este campo debe ser numérico</div>
          <div *ngIf="formulario.get('edad')?.errors?.['max'] && formulario.touched" class="alert alert-danger" role="alert">Este campo debe ser menor que 110</div>
        </div>
      </div>
      <div class="row">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-light">Reset</button>
      </div>
    </div>
  </div>
</form>
